In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Pour afficher les graphiques en ligne dans un notebook Jupyter
%matplotlib inline

In [3]:
# Data cleaning
sales_data = pd.read_csv("real_data.csv")

In [5]:
sales_df = sales_data

In [7]:
# X and y determination
X = sales_df.drop(columns=["index", "date", "open"])

# Preprocessing
from sklearn import preprocessing

converted = preprocessing.LabelEncoder()
converted.fit(['0','a', 'b', 'c', 'd'])
X["state_holiday"] = converted.transform(X["state_holiday"])

In [8]:
# Standardization
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [9]:
import pickle

ofname = open('linear_model_v2.pkl','rb') #Open in binary format. You never know how it was saved.
linear_model_v2 = pickle.load(ofname)

In [10]:
y_pred_sales = linear_model_v2.predict(X)

In [11]:
sales_df["sales"] = y_pred_sales

In [12]:
sales_df

,index,store_ID,day_of_week,date,nb_customers_on_day,open,promotion,state_holiday,school_holiday,sales
0,272371,415,7,01/03/2015,0,0,0,0,0,627.829026
1,558468,27,7,29/12/2013,0,0,0,0,0,692.099031
2,76950,404,3,19/03/2014,657,1,1,0,0,6924.902517
3,77556,683,2,29/01/2013,862,1,0,0,0,7108.516486
4,456344,920,3,19/03/2014,591,1,1,0,0,6407.806241
...,...,...,...,...,...,...,...,...,...,...
71200,59062,441,7,26/10/2014,0,0,0,0,0,623.522273
71201,687449,377,7,18/08/2013,0,0,0,0,0,634.123511
71202,207393,15,3,11/06/2014,648,1,0,0,0,5642.097092
71203,233378,950,2,23/04/2013,626,1,1,0,0,6809.290674
71204,85695,932,4,21/11/2013,828,1,1,0,0,7778.177963

In [13]:
sales_df.to_csv("predicted_sales_report.csv")